<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Мой Блог — Великанов Семен Михайлович</title>
    <link rel="stylesheet" href="/static/css/home_styles.css?v6" />
</head>
<body>

<div class="container">

    <section class="section">
        <h1>Великанов Семен Михайлович</h1>
        <p><b>Род деятельности:</b> Python-разработчик</p>
        <p><b>Образование:</b> Саратовский Государственный Технический Университет, Факультет Математика и моделирование</p>
    </section>

    <section class="section">
        <h2>О себе</h2>
        <p>
            Привет! Я увлеченный python-разработчик с опытом работы в создании современных и удобных веб-приложений. Люблю изучать новые технологии и применять их на практике.
        </p>
    </section>

    <section class="section">
        <h2>Навыки</h2>
        <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>Python</li>
            <li>SQL</li>
            <li>GO</li>
            <li>Git</li>
            <li>FastAPI</li>
            <li>Docker</li>
        </ul>
    </section>

    <section class="section">
        <h2>Достижения</h2>
        <ul>
            <li>Разработка веб-приложения для автоматизации бизнес-процессов.</li>
            <li>Участие в хакатоне и занятие призового места.</li>
            <li>Публикация статей на Habr.</li>
        </ul>
    </section>

    <section class="section">
        <h2>Мои соцсети</h2>
        <ul>
            <li><a href="#" target="_blank" rel="noopener">ВКонтакте</a></li>
            <li><a href="#" target="_blank" rel="noopener">Facebook</a></li>
            <li><a href="#" target="_blank" rel="noopener">Twitter</a></li>
        </ul>
    </section>

    <div class="github-link">
        <a href="https://github.com/nevel57" target="_blank" rel="noopener">Мой GitHub</a>
    </div>

    <div class="telegram-link">
        <a href="https://t.me/nvlkairos" target="_blank" rel="noopener">Мой Telegram</a>
    </div>

    <div class="resume-link" style="text-align: center; margin: 20px 0;">
    <a href="https://hh.ru/resume/67aabe8bff0cf26cc80039ed1f765a35454330" target="_blank" rel="noopener" class="btn-resume">
        Посмотреть резюме
    </a>
    </div>

    <section class="section">
        <h2>Мои (pet) проекты</h2>

        <div class="project-buttons">
            <button onclick="location.href='project1'">Проект 1</button>
            <button onclick="location.href='project2'">Проект 2</button>
            <button onclick="location.href='project3'">Проект 3</button>
            <button onclick="location.href='project4'">Проект 4</button>
            <button onclick="location.href='project5'">Проект 5</button>
        </div>
    </section>

</div>

<script src="/static/js/script.js?v=6"></script>
</body>
</html>
